<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>



    <!--DE LA TORRE PRUEBAS 
    <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5105.site4now.net;initial catalog=db_a2abca_delatorretest;user id=db_a2abca_delatorretest_admin;password=Trinn2022_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
-->
    <!--TACOS ANA 
    <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5097.site4now.net;initial catalog=DB_A2ABCA_TacosAna;user id=DB_A2ABCA_TacosAna_admin;password=Trinn2021_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
-->

    <!--PROD TACOS ANA
<add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5097.site4now.net;initial catalog=DB_A2ABCA_TacosAna;user id=DB_A2ABCA_TacosAna_admin;password=Ana2020_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
 
<!--TACOS ANA NUBE SUC
 <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5110.site4now.net;initial catalog=db_a2abca_tacosanasuc;user id=db_a2abca_tacosanasuc_admin;password=Trinn2023_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->


    <!--TACOS ANA TEST-->
<add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5108.site4now.net;initial catalog=db_a2abca_tacosanatest;user id=db_a2abca_tacosanatest_admin;password=Trinn2021_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


</connectionStrings>
</configuration>
