<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <!--TACOS ANA TEST
    <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5111.site4now.net;initial catalog=db_a2abca_tacosanatest;user id=db_a2abca_tacosanatest_admin;password=Trinn2021_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

    <!--TACOS ANA NUBE SUC-->
    
    <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5112.site4now.net;initial catalog=db_aadad3_tacosanasuc;user id=db_aadad3_tacosanasuc_admin;password=Trinn2024_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>
