################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConexionBD/obj/Debuj
/ERP.Console.Task/bin
/.vs/ERPv1/v15/Server/sqlite3/db.lock
/PuntoVenta/obj/Debug/PuntoVenta.csprojAssemblyReference.cache
/PuntoVenta/obj/Debug/PuntoVenta.csproj.CoreCompileInputs.cache
/ERPv1/obj/Debug/ERPv1.csprojAssemblyReference.cache
/ERPv1/obj/Debug/ERPv1.csproj.CoreCompileInputs.cache
/ERP.Reports/obj/Debug/ERP.Reports.csproj.CoreCompileInputs.cache
/ERP.Common/obj/Debug/ERP.Common.csprojAssemblyReference.cache
/ERP.Common/obj/Debug/ERP.Common.csproj.CoreCompileInputs.cache
/ERP.API/obj/Debug
/ERP.Common/obj
/ERP.WebAPI/bin
/ERP.WebAPI/obj
/ERP.Rec/obj/Debug
/ERP.Rec/obj/Release/TempPE
/ERP.Rec/obj/Release
/ERP.Models/bin/Release
/ERP.Models/obj/Debug
/ERP.Models/obj/Release
/ConexionBD/bin/Release
/ConexionBD/obj/Debug/TempPE
/ConexionBD/obj/Release/ConexionBD.csprojAssemblyReference.cache
/ERP.Web/bin
/ERP.Web/obj/Debug
/ERP.Web/obj/Release
/ERP.Utils/bin/Release
/ERP.Utils/obj/Debug
/ERP.Utils/obj/Release
/.vs/ERPv1/config
/.vs/ERPv1/DesignTimeBuild
/.vs/ERPv1/v16
/ERP.WebAPI/Properties/PublishProfiles/FolderProfile.pubxml
/ERP.WebAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
/ERpSmart.Business/bin/Release
/ERpSmart.Business/obj/Debug
/ERpSmart.Business/obj/Release/ERP.Business.pdb
/ERpSmart.Business/obj/Release/ERP.Business.dll
/ERpSmart.Business/obj/Release/ERP.Business.csprojAssemblyReference.cache
/ERpSmart.Business/obj/Release/ERP.Business.csproj.FileListAbsolute.txt
/ERpSmart.Business/obj/Release/ERP.Business.csproj.CoreCompileInputs.cache
/ERpSmart.Business/obj/Release/ERP.Business.csproj.CopyComplete
/ERpSmart.Business/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ERPTrinn.WS/ERPTrinn.WS/obj/Debug
/ERPTrinn.WS/ERPTrinn.WS/obj/Release/ERPTrinn.WS.csproj.CoreCompileInputs.cache
/ERPv1/obj/Debug
/ERPv1/obj/Release/ERPv1.csprojAssemblyReference.cache
/PuntoVenta/obj/Debug
/ConexionBD/obj/Debug
/ERP.Background.Task/obj
/ERP.Produccion.Desktop/obj/Debug
/ERP.Service.Windows/obj/Debug
/FlorMaiz.Desktop/obj/Debug
/TacosAna.Desktop/obj/Debug
/ConexionBD/obj/Debug/ConexionBD.csproj.CoreCompileInputs.cache
/ERP.Background.Task/obj/Debug/ERP.Background.Task.csproj.CoreCompileInputs.cache
/ERP.Produccion.Desktop/obj/Debug/ERP.Produccion.Desktop.csproj.CoreCompileInputs.cache
/ERP.Service.Windows/obj/Debug/ERP.Service.Windows.csproj.CoreCompileInputs.cache
/FlorMaiz.Desktop/obj/Debug/FlorMaiz.Desktop.csproj.CoreCompileInputs.cache
/TacosAna.Desktop/obj/Debug/TacosAna.Desktop.csproj.CoreCompileInputs.cache
/ERP.Produccion.Desktop/bin/Debug
/ERP.Rec/bin/Debug
/ERP.Service.Windows/bin/Debug
/ERPv1/bin/Debug
/PuntoVenta/bin/Debug
/TacosAna.Desktop/bin/Debug
/ERP.Background.Task/bin/Debug
/ERP.Reports/bin/Debug
/ERP.Reports/obj/Debug
/FlorMaiz.Desktop/bin/Debug
