<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>


    <!--PROD URBAN WINGS-->
    <add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5080.site4now.net;initial catalog=db_a2abca_urbanwings;user id=db_a2abca_urbanwings_admin;password=Trinn2022_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>
