<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        
        <add name="ERPProdEntities" connectionString="XpoProvider=MSSqlServer;data source=EC2AMAZ-QCNOKHJ\SQLEXPRESS2017;user id=;password=;initial catalog=ERPDev;Persist Security Info=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
