<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>


<connectionStrings>
 <!--PROD LOCAL
<add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\localdb2014;attachdbfilename=c:\ERP\ERPTemp.mdf;user id=pv;password=PV2018$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
<add name="ERPProdMaster" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\localdb2014;initial catalog=master;integrated security=True;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
-->
  <!--COMPADRES -->
<add name="ERPProdEntities" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P2VTNTN;initial catalog=ERPTemp;user id=sa;password=compadres2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
<add name="ERPProdMaster" connectionString="metadata=res://*/ERPModel.csdl|res://*/ERPModel.ssdl|res://*/ERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P2VTNTN;initial catalog=master;user id=sa;password=compadres2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

</connectionStrings>

</configuration>
