USE [tacosanalocal]
GO
/****** Object:  StoredProcedure [dbo].[p_sinc_local_bitacora_ins]    Script Date: 16/10/2024 09:57:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [p_sinc_local_bitacora_ins] 'doc_ventas,doc_gastos'
ALTER PROC [dbo].[p_sinc_local_bitacora_ins]
@TableName VARCHAR(max),
@id INT=0,
@scope VARCHAR(500)
AS
begin

	--CAMBIO ASDASDASDADAASD
	CREATE TABLE #TMP_TABLES (
			TABLE_NAME NVARCHAR(500)
	);

	INSERT INTO #TMP_TABLES (TABLE_NAME)
	SELECT value
	FROM STRING_SPLIT(@TableName, ',');



	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_gastos')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select GastoId,'doc_gastos',GETDATE(),@scope
		from doc_gastos G
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = G.GastoId AND s1.TableName = 'doc_gastos'
		) AND @id IN (0,G.GastoId)

	END

	

end