IF  EXISTS (
	SELECT 1
	FROM SYSOBJECTS
	WHERE NAME = 'p_sinc_local_bitacora_ins'
)
DROP PROC p_sinc_local_bitacora_ins
GO
-- [p_sinc_local_bitacora_ins] 'doc_ventas,doc_gastos'
CREATE PROC [dbo].[p_sinc_local_bitacora_ins]
@TableName VARCHAR(max),
@id INT=0,
@scope VARCHAR(500)
AS
begin

	--CAMBIO ASDASDASDADAASD
	CREATE TABLE #TMP_TABLES (
			TABLE_NAME NVARCHAR(500)
	);

	INSERT INTO #TMP_TABLES (TABLE_NAME)
	SELECT value
	FROM STRING_SPLIT(@TableName, ',');



	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_gastos')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select GastoId,'doc_gastos',GETDATE(),@scope
		from doc_gastos G
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = G.GastoId AND s1.TableName = 'doc_gastos'
		) AND @id IN (0,G.GastoId)

	END

	--DOC_RETIROS
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_retiros')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.RetiroId,'doc_retiros',GETDATE(),@scope
		from doc_retiros T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.RetiroId AND s1.TableName = 'doc_retiros'
		) AND @id IN (0,T.RetiroId)

	END

	--doc_maiz_maseca_rendimiento
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_maiz_maseca_rendimiento')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.Id,'doc_maiz_maseca_rendimiento',GETDATE(),@scope
		from doc_maiz_maseca_rendimiento T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.Id AND s1.TableName = 'doc_maiz_maseca_rendimiento'
		) AND @id IN (0,T.Id)

	END

	--doc_productos_sobrantes_registro
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_productos_sobrantes_registro')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.Id,'doc_productos_sobrantes_registro',GETDATE(),@scope
		from doc_productos_sobrantes_registro T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.Id AND s1.TableName = 'doc_productos_sobrantes_registro'
		) AND @id IN (0,T.Id)

	END

	--doc_productos_sobrantes_registro
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_pedidos_orden')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.PedidoId,'doc_pedidos_orden',GETDATE(),@scope
		from doc_pedidos_orden T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.PedidoId AND s1.TableName = 'doc_pedidos_orden'
		) AND @id IN (0,T.PedidoId)

	END

	--doc_cargos
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_cargos')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CargoId,'doc_cargos',GETDATE(),@scope
		from doc_cargos T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CargoId AND s1.TableName = 'doc_cargos'
		) AND @id IN (0,T.CargoId)

	END

	--doc_cargos_detalle
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_cargos_detalle')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CargoDetalleId,'doc_cargos_detalle',GETDATE(),@scope
		from doc_cargos_detalle T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CargoDetalleId AND s1.TableName = 'doc_cargos_detalle'
		) AND @id IN (0,T.CargoDetalleId)

	END

	--doc_pedidos_cargos
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_pedidos_cargos')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.PedidoCargoId,'doc_pedidos_cargos',GETDATE(),@scope
		from doc_pedidos_cargos T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.PedidoCargoId AND s1.TableName = 'doc_pedidos_cargos'
		) AND @id IN (0,T.PedidoCargoId)

	END


	--doc_pedidos_orden_detalle
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_pedidos_orden_detalle')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.PedidoDetalleId,'doc_pedidos_orden_detalle',GETDATE(),@scope
		from doc_pedidos_orden_detalle T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.PedidoDetalleId AND s1.TableName = 'doc_pedidos_orden_detalle'
		) AND @id IN (0,T.PedidoDetalleId)

	END

	--doc_pedidos_orden_detalle
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_ventas')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.VentaId,'doc_ventas',GETDATE(),@scope
		from doc_ventas T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.VentaId AND s1.TableName = 'doc_ventas'
		) AND @id IN (0,T.VentaId)

	END


	--doc_ventas_detalle
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_ventas_detalle')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.VentaDetalleId,'doc_ventas_detalle',GETDATE(),@scope
		from doc_ventas_detalle T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.VentaDetalleId AND s1.TableName = 'doc_ventas_detalle'
		) AND @id IN (0,T.VentaDetalleId)

	END

	--doc_ventas_detalle
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_corte_caja')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CorteCajaId,'doc_corte_caja',GETDATE(),@scope
		from doc_corte_caja T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CorteCajaId AND s1.TableName = 'doc_corte_caja'
		) AND @id IN (0,T.CorteCajaId)

	END


	
	--doc_corte_caja_egresos
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_corte_caja_egresos')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CorteCajaId,'doc_corte_caja_egresos',GETDATE(),@scope
		from doc_corte_caja_egresos T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CorteCajaId AND s1.TableName = 'doc_corte_caja_egresos'
		) AND @id IN (0,T.CorteCajaId)

	END

	--doc_corte_caja_denominaciones
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_corte_caja_denominaciones')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CorteCajaId,'doc_corte_caja_denominaciones',GETDATE(),@scope
		from doc_corte_caja_denominaciones T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CorteCajaId AND s1.TableName = 'doc_corte_caja_denominaciones'
		) AND @id IN (0,T.CorteCajaId)

	END

	--doc_corte_caja_fp
	IF EXISTS (SELECT 1 FROM #TMP_TABLES WHERE TABLE_NAME = 'doc_corte_caja_fp')
	BEGIN
		INSERT INTO [dbo].[sinc_local_bitacora](
		RecordSyncId,TableName,CreadoEl,Scope
		)
		select T.CorteCajaId,'doc_corte_caja_fp',GETDATE(),@scope
		from doc_corte_caja_fp T
		WHERE NOT EXISTS (
			SELECT 1 FROM [sinc_local_bitacora] S1 WHERE S1.RecordSyncId = T.CorteCajaId AND s1.TableName = 'doc_corte_caja_fp'
		) AND @id IN (0,T.CorteCajaId)

	END


	

end